---
import "../styles/global.css";
import MainLayout from "../layouts/MainLayout.astro";
import Knap from "../components/Knap.astro";
import Card from "../components/Card.astro";
import { literal } from "astro:schema";

const data = await fetch(
  "https://sgavxerkmhmstpzpgpuw.supabase.co/rest/v1/artists",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNnYXZ4ZXJrbWhtc3RwenBncHV3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjk2Nzk1MzksImV4cCI6MjA0NTI1NTUzOX0.h5Aqaz-Bt1qlt5_JDw3pKLp83L8YA5XWG57VRB15LRw",
    },
  }
).then((res) => res.json());

console.log(data);
---

<MainLayout>
  <div class="index">
    <h1 class="forside_h1">Copenhagen Distortion</h1>
    <p>
      See you next summer <br />
      4-8 June 2025 <br />
      All over Copenhagen
    </p>
    <img
      class="timer"
      src="/public/images/group_10.svg"
      alt="246 days 13 hours 31 minutes 43 seconds"
    />
  </div>
  <div class="byer">
    <div class="nb">
      <Knap variant="red_btn"><b>NØRREBRO</b></Knap>
    </div>
    <div class="ref">
      <Knap variant="red_btn"><b>REFSHALEØEN</b></Knap>
    </div>
    <div class="rp">
      <Knap variant="red_btn"><b>RÅDHUSPLADSEN</b></Knap>
    </div>
  </div>

<div class="bg_color">
  <div class="artists">
    <h1 class="artister">ARTISTS</h1>
    <div class="blue_knap">
    <Knap variant="blue_btn">SEE ALL ARTISTS</Knap>
    </div>
    {
      data.map((artist) => (
        <div class={artist.slug}>
          <a href={`artists/${artist.slug}`}>
            <img src={artist.og_image} alt="" />
            <h4>{artist.title}</h4>
          </a>
        </div>
      ))
    }
  </div>
</div>

</MainLayout>

<style>

  .bg_color{
  background-color: var(--bg-second);

  }
.artists {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 1fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 10px;
  gap: 10px;
}
.artister {
writing-mode: vertical-rl;
  text-orientation: sideways;
  /* transform: rotate(180deg); */
  /* margin-left: 60px; */
  grid-column: 5/6;
grid-row: 1/4;
text-align: right;
}
.blue_knap{
  grid-column: 3/4;
  grid-row: 3/4;
  place-self: center;
}
.gobs{
  grid-column: 1/3;
  grid-row: 1/3;
  place-self: center;
}
.gobs img{
  width: 350px;
}
.artigeardit{
   grid-column: 4/5;
  grid-row: 2/3;
}
.artigeardit img{
  width: 200px;
}
.goldie{
 grid-column: 4/5;
  grid-row: 3/4;
    place-self: end;

}
.goldie img{
  width: 200px;
}
.yakuza{
 grid-column: 2/3;
  grid-row: 3/5;
  place-self: center;
}
.yakuza img{
  width: 250px;
}

.gobs, .artigeardit, .goldie, .yakuza h4{
    text-decoration: none;  
  text-transform: uppercase;
}
</style>