---
import "../styles/global.css";
import MainLayout from "../layouts/MainLayout.astro";
import Knap from "../components/Knap.astro";
import Card from "../components/Card.astro";
import { literal } from "astro:schema";

const data = await fetch(
  "https://fetch-with-astro.netlify.app/api/artists"
).then((response) => response.json());
console.log(data);
---

<MainLayout>
  <!-- <img class="gradient" src="/public/images/distortion_gradient.svg" alt="" /> -->
  <div class="index">
    <h1 class="forside_h1">Copenhagen Distortion</h1>
    <p>
      See you next summer <br />
      4-8 June 2025 <br />
      All over Copenhagen
    </p>
    <img
      class="timer"
      src="/public/images/group_10.svg"
      alt="246 days 13 hours 31 minutes 43 seconds"
    />
  </div>
  <Knap variant="blue_btn"><b>VIEW ALL ARTISTS</b></Knap>
  <Knap variant="red_btn"><b>NØRREBRO</b></Knap>
  <Card header="Artigeardit" time="14:00-15:00" />
  <ul class="artists">
    {
      data.map((artist) => (
        <li>
          <a href={`artists/${artist.slug}`}>
            <img src={artist.og_image.url} alt="" />
            <h3>{artist.title}</h3>
          </a>
        </li>
      ))
    }
  </ul>
</MainLayout>
