---
// Footer.astro komponent

---

<footer class="footer">

  <div class="footer-content">
    <!-- Første kolonne - (tom) -->
    <div class="column_1">
      <!-- H1 i toppen -->
      <h1>STREET LIFE & <br /> NEW DANCE MUSIC</h1>
    </div>

    <!-- Anden kolonne ( email input) -->
    <div class="column_2">
      <h2>Get updated with <br /> all the fun stuff</h2>
      <form class="email-form">
        <input type="email" placeholder="Email address" />
        <button type="submit">→</button>
      </form>
    </div>

    <!-- Tredje kolonne (Join the Party, Apps, Social Media) -->
      <div class="join">
        <h2>Join the party</h2>
        <a class="buy-ticket" href="#">Buy ticket →</a>
      </div>
        
        <div class="app-links">
          <h2>Official Festival App</h2>
          <a href="#"><img src="/public/images/App_store.svg" alt="App Store" /></a>
          <a href="#"><img src="/public/images/Google_play.svg" alt="Google Play" /></a
          >
        </div>

        <div class="social-links">
          <h2>Follow us</h2>
          <a href="#"><img src="/public/images/Facebook_ikon.svg" alt="Facebook" /></a>
          <a href="#"><img src="/public/images/Instagram_ikon.svg" alt="Instagram" /></a>
        </div>
  </div>

  <!-- Logo'er i bunden' -->
  <div class="footer-logos">
    <img src="/public/images/Tuborg.svg" alt="Tuborg" />
    <img src="/public/images/Kommune.svg" alt="Københavns Kommune" />
  </div>

  <!-- Rød dansende mand -->
  <div class="dancer">
    <!-- <img src="/public/images/dance.png" alt="Dancer" /> -->
  </div>
</footer>

<style>
  .footer {
    background-color: #003366; /* Dark blue background */
    color: #b2d0da; /* White text color */
    position: relative;
    padding: 50px 20px;
    text-align: left;
  }

  .footer h1 {
    font-size: 3rem; /* Large H1 */
    text-align: left;
  } 

  .footer h2 {
    font-size: 2em;
  }

  .footer-content {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    grid-template-rows: 0.4fr 1fr 1fr 1fr;
    background-image: url(/public/images/dance.png);
    background-size: 330px;
    background-repeat: no-repeat;
  }

  .column_1 {
    grid-column: 1/span2;
  }

  .column_2{
    grid-column: 2;
    grid-row: 3;
  }

  .join{
    grid-column: 3; 
    grid-row: 2; 
  }

  .email-form {
    display: flex;
    align-items: left;
    justify-content: left;
    margin-top: 10px;
    border-bottom: 1px solid #b2d0da; /* Understregning */
    width: 80%; /* Juster efter behov */
  }

  .email-form input {
    border: none;
    outline: none;
    background: transparent;
    color: #b2d0da;
    flex-grow: 1;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .email-form input::placeholder {
    color: #b2d0da;
  }

  .email-form button {
    background: none;
    border: none;
    color: #b2d0da;
    font-size: 1.2rem;
    cursor: pointer;
  }
  .email-form button:hover {
    color: #e53014;
  }

  .buy-ticket {
    color: #b2d0da;
    text-decoration: none;
  }

  .buy-ticket:hover {
    color: #e53014;
  }

  .app-links{
    grid-column: 3;
    grid-row: 3;
  }
  .app-links img {
   max-width: 100px;
  margin-top: 10px;
  }

  .social-links {
    grid-column: 3;
    grid-row: 4;
  }
  .social-links img {
    max-width: 50px;
    margin-top: 10px;
    justify-content: left;
  }

  .footer-logos {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  .footer-logos img {
    max-width: 100px;
    margin: 0 20px;
  }

  /* .dancer {
    max-width: 100px;
  } */

  @media (max-width: 768px) {
    .footer {
      padding: 20px;
    }

    .footer h1 {
      font-size: 2rem;
      text-align: left;
    }

    .footer h2 {
      font-size: 1.2rem;
    }

    .footer-content {
      flex-direction: column;
      align-items: left;
    }

    .column-third {
      align-items: left;
    }

    .email-form {
      width: 100%;
      margin-bottom: 20px;
    }

    .dancer {
      position: relative;
      margin-bottom: 20px;
    }

    .footer-logos {
      margin-top: 20px;
    }
  }
</style>
