---
const { title } = Astro.props;

import Header from "../components/Header.astro";
import Footer2 from "../components/Footer.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex, nofollow" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Coda:wght@800&family=Maitree:wght@200;300;400;500;600;700&family=Yantramanav:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <h1>{title}</h1>
      <slot />
    </main>
    <Footer2 />
  </body>
</html>
